@media screen and (max-width: 600px){
    .filters{
        color: white;
        height: 70px;
        width: 100%;
        border: 1px #DDDDDD with radius 4px;
    
        }
        button{
            font-size: 12px;
            background-color: #FF5A5F;
            height: 48px;
            width: 10%; 
            border-radius: 4px;
            margin-left: 10px;
            align-items: center;
        }
    
}